.footer {
    background-color: #333;
    display: inline-block;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: -240px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: inline-block;
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    /* margin: 0px 35px; */
}

p {
    color: white;
    font-size: 12px;
}